<div  class="row mt-3 justify-content-center" >
  <div class="order-card p-0 mb-3 mt-3 shadow-lg" [ngClass]="getStatusClass(orderView.status!)" >
    <div class="row m-0">
      <div class="col-md-6 p-0 bg text-start">
        <div class="row m-0">
          <div class="col-md-12 p-0">
            ID: {{orderView.id}}
          </div>
          <div class="col-md-12 p-0">
            {{orderView.payer}}
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0 bg text-end">
        <div class="row m-0">
          <div class="col-md-12 p-0">
            <span class="order-status">{{orderView.status}}</span>
          </div>
          <div class="col-md-12 p-0">
            $ {{getTotalPrice(orderView)}}
          </div>

        </div>
      </div>
      <div class="col-md-12 pt-2 pb-0 pe-0 ps-0 m-0" style="border-top: 2px dotted #ac2020">
        <div class="row m-0 p-0">
          <div class="col-md-6 p-0 text-start">
            <p class="order-date">{{orderView.createDate | date:'medium'}}</p>
            <p class="order-address">{{orderView.address}}</p>
          </div>

          <div class="col-md-6 p-0">
            <ul class="nav justify-content-end ">
              <li><a (click)="toggle()">{{showDetaiTitle}}</a></li>
              <li style="border-left: 2px dotted #ac2020; width: 3px; padding: 0"></li>
              <li><a href="#">Reorder</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div #detail @ngIfAnimation   *ngIf="isOpen"  style="overflow: hidden">

      <div @easeInOut class="m-0">
        <div   *ngFor="let orderDetailView of orderView.orderDetailView" class="card card-body mt-3">
          <div  class="row g-0">
            <div class="col-md-2 p-0">
              <img [src]="'/assets/images/product/' + orderDetailView.productImageUrl" height="90px" class=" rounded-start" alt="...">
            </div>
            <div class="col-md-10 p-0 text-start">
              <div class="card-body p-0">
                <h5 class="card-title">{{orderDetailView.productName}}</h5>
                <p class="card-text m-0">x{{orderDetailView.quantity}} <span class="float-end text-danger">$ {{orderDetailView.price}}</span></p>
                <p class="card-text p-0"><small class="text-muted">Category: {{orderDetailView.subCategoryName}}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
