<div class="row m-0">
  <h4 class="mt-2 text-danger">User manager</h4>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex">
          <input #search class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button (click)="searchByUser(search.value)" class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="float-end me-lg-5">
          <button (click)="openModal(content, null)" class="btn btn-danger"><i class="fas fa-plus-square"></i> Create
            New
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="col-md-12 me-lg-5">
    <table class="table table-bordered border-danger">
      <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Full name</th>
        <th scope="col">Activated</th>
        <th scope="col" *ngFor="let role of roles">{{role.name}}</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody class="align-middle">
      <tr *ngFor="let user of users | slice: (page-1) * pageSize : page * pageSize; let i=index">
        <td>{{user.username}}</td>
        <td>{{user.lastName + ' ' + user.firstName}}</td>
        <td><nz-switch (ngModelChange)="activatedChanged(user, $event)" [(ngModel)]="user.activated"></nz-switch> </td>
        <td *ngFor="let role of roles">
          <label class="checkbox-inline">
            <input type="checkbox" [checked]="authorityOf(user, role)"
            (click)="authorityChanged(user, role)">
          </label>
        </td>
        <td style="width: 7rem">
          <div class="d-flex justify-content-center" style="max-width: 7rem">
            <!--<button class="btn btn-warning me-3"
                    (click)="openModal(content, user)"
                    ngbTooltip="Update"><i class="fas fa-edit"></i></button>-->
            <button class="btn btn-danger"
                    ngbTooltip="Delete"
                    (click)="delete(user)"><i class="fas fa-calendar-times"></i></button>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
    <ngb-pagination
      [collectionSize]="users.length"
      [(page)]="page"
      [pageSize]="pageSize"
    ></ngb-pagination>
  </div>
</div>


<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6 mt-1">
          <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" formControlName="id" readonly>
          </div>
        </div>


        <div class="col-md-6 mt-1">
          <div class="form-group">
            <label>Username</label>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
            />
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
              <div *ngIf="f['username'].errors['required']">Username is required</div>
              <div *ngIf="f['username'].errors['minlength']">
                Username must be at least 6 characters
              </div>
              <div *ngIf="f['username'].errors['maxlength']">
                Username must not exceed 20 characters
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6 mt-1">
          <div class="form-group">
            <label>First Name</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
            />
            <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
              <div *ngIf="f['firstName'].errors['required']">First Name is required</div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-1">
          <div class="form-group">
            <label>Last Name</label>
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
            />
            <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
              <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-1">
          <div class="form-group">
            <label>Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors['required']">Email is required</div>
              <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-1">
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors['required']">Password is required</div>
              <div *ngIf="f['password'].errors['minlength']">
                Password must be at least 6 characters
              </div>
              <div *ngIf="f['password'].errors['maxlength']">
                Password must not exceed 40 characters
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-1">
          <div class="form-group">
            <label>Confirm Password</label>
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
            />
            <div
              *ngIf="submitted && f['confirmPassword'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['confirmPassword'].errors['required']">
                Confirm Password is required
              </div>
              <div *ngIf="f['confirmPassword'].errors['matching']">
                Confirm Password does not match
              </div>
            </div>
          </div>
        </div>


      </div>
    </form>
    <div class="row">

      <div class="col-md-6 mt-1">
        <div class="form-group">
          <label>Roles</label>
          <nz-select
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            nzPlaceHolder="Please select"
            [(ngModel)]="listOfSelectedRole"
          >
            <nz-option style="z-index: 1060" *ngFor="let item of roles" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
          </nz-select>
          <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Save</button>
    <button
      type="button"
      (click)="onReset()"
      class="btn btn-outline-info float-right ms-lg-5"
    >
      Reset
    </button>
  </div>
</ng-template>
