<div class="container mt-5 mb-5 w-50">
  <div class="row m-0">
    <div class="col-md-12 border-bottom pb-3">
      <h1>CHANGE PASSWORD</h1>
      <span class="blockquote-footer">Security management</span>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">

        <div class="col-md-12 mt-1">
          <div class="form-group">
            <label>Username</label>
            <div class="form-control">ThanhMX1</div>
          </div>
        </div>

        <div class="col-md-12 mt-1">
          <div class="form-group">
            <label>Current password</label>
            <input
              type="password"
              formControlName="currentPassword"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['currentPassword'].errors || isMatchCurrentPass }"
            />
            <div *ngIf="isMatchCurrentPass" class="text-danger">
              Current Password does not match
            </div>
            <div *ngIf="submitted && f['currentPassword'].errors" class="invalid-feedback">
              <div *ngIf="f['currentPassword'].errors['required']">Password is required</div>
              <div *ngIf="f['currentPassword'].errors['minlength']">
                Password must be at least 6 characters
              </div>
              <div *ngIf="f['currentPassword'].errors['maxlength']">
                Password must not exceed 40 characters
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-1">
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors['required']">Password is required</div>
              <div *ngIf="f['password'].errors['minlength']">
                Password must be at least 6 characters
              </div>
              <div *ngIf="f['password'].errors['maxlength']">
                Password must not exceed 40 characters
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-1">
          <div class="form-group">
            <label>Confirm Password</label>
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
            />
            <div
              *ngIf="submitted && f['confirmPassword'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['confirmPassword'].errors['required']">
                Confirm Password is required
              </div>
              <div *ngIf="f['confirmPassword'].errors['matching']">
                Confirm Password does not match
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group form-check mt-1">
        <input
          type="checkbox"
          formControlName="acceptTerms"
          class="form-check-input"
          [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }"
        />
        <label class="form-check-label"
        >I have read and agree to the Terms</label
        >
        <div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback">
          Accept Terms is required
        </div>
      </div>

      <div class="form-group mt-3">
        <button type="submit" class="btn btn-outline-danger ">Update</button>
        <button
          type="button"
          (click)="onReset()"
          class="btn btn-outline-info float-right ms-lg-5"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
